.DS_Store
ThirdParty/libsbml/src/sbml/common/libsbml-config-common.h
/plugins/auto_2000/misc/FrankBergmannCode/AutoFrontend/obj/Debug/*.Cache
/plugins/auto_2000/misc/FrankBergmannCode/AutoFrontend/obj/Debug/*.cache
/plugins/auto_2000/misc/FrankBergmannCode/AutoFrontend/obj/Debug/*.cache
/plugins/auto_2000/misc/FrankBergmannCode/AutoFrontend/obj/Debug/*.cache
/plugins/auto_2000/misc/FrankBergmannCode/AutoTestCSharp/obj/Debug/*.cache
/plugins/auto_2000/misc/FrankBergmannCode/AutoTestCSharp/obj/Debug/*.cache
/plugins/auto_2000/misc/FrankBergmannCode/LibAutoCSharp/obj/Debug/*.cache

/plugins/auto_2000/*.dsk
/plugins/auto_2000/examples/bistable/*.dsk
/plugins/auto_2000/examples/bistable/*.dsk
/plugins/auto_2000/examples/bistable_c_api/*.dsk
/plugins/auto_2000/examples/bistable_c_api/*.dsk
/plugins/auto_2000/examples/bistable_c_api/*.dsk
/plugins/auto_2000/examples/*.dsk
/plugins/auto_2000/parser/*.dsk
/plugins/auto_2000/rrAutoInterface/*.dsk

/plugins/auto_2000/misc/FrankBergmannCode/AutoFrontend/obj/Debug/*.pdb
/plugins/auto_2000/misc/FrankBergmannCode/AutoTestCSharp/bin/Debug/*.pdb
/plugins/auto_2000/misc/FrankBergmannCode/AutoTestCSharp/bin/Debug/*.pdb
/plugins/auto_2000/misc/FrankBergmannCode/AutoTestCSharp/obj/Debug/*.pdb
/plugins/auto_2000/misc/FrankBergmannCode/LibAutoCSharp/obj/Debug/*.pdb
